extends ../layout/main

block variables
  - var title = 'Webpack + Pug';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  section
    .container
      h1 Content is here
      h1 Ready
  section
    .container
      h1 Content is here
      h1 for
  section
    .container
      h1 Content is here
      h1 this     